html {
  scroll-behavior: smooth;
}

.shop-warning-auto-accepted-orders-container {
  box-sizing: border-box;
  max-width: 70rem;
  min-width: 15rem;
  height: fit-content;
  background-color: rgb(252, 213, 213);
  margin: 1rem auto 0 auto;
  padding: 0.5rem 0;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border: solid 2px rgb(237, 0, 0);
}
.shop-warning-auto-accepted-orders-container p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: bold;
}
.shop-div-schedule-root-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(5rem, fit-content);
  grid-auto-flow: column;
  max-width: 40rem;
  margin: 2rem auto;
  border: solid 1px black;
}

#shop-admin-pending-orders-container {
  height: fit-content;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#shop-admin-pending-orders-container table {
  gap: 2rem;
  width: 100%;
  border: solid 1px;
  padding: 1rem 0.6rem;
}

#shop-admin-pending-orders-container th {
  text-align: center;
  min-width: 5rem;
}
#shop-admin-pending-orders-container td {
  height: 2.3rem;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#shop-admin-pending-orders-container p {
  margin: 0 auto;
}
#shop-admin-pending-orders-container tr:hover {
  background-color: coral;
}

.shop-main-menu-container {
  width: 100%;
  display: flex;
  margin: 3rem auto;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: contain;
  gap: 3rem;
}
#shop-admin-order-confirmation-prompt {
  border-radius: 15px;
  position: absolute;
  bottom: 3vh;
  right: 3vw;
  min-width: 26rem;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 0;
}

#shop-admin-order-confirmation-prompt div {
  margin-bottom: 0rem;
}
#shop-admin-single-order-confirmation-prompt {
  border-radius: 15px;
  background-color: rgb(232, 232, 232);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: relative;
  min-width: 26rem;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  padding-bottom: 1rem;
}

.prompt-two-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prompt-two-buttons-container button {
  margin: 0 0.2rem;
  font-weight: bold;
  font-size: 1.01rem;
}

#shop-product-families-navigator-container {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 1rem 3rem;
  list-style-type: none;

  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #333333;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  align-items: center;
  display: flex;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 90vw;
}
#shop-product-families-navigator-container li {
  padding: 0 1rem;
  padding-bottom: 0.4rem;
  font-size: 1.2rem;
}
.li-button-and-name-container {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
}

.li-not-selected {
  border-bottom: solid 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.li-not-selected:hover {
  border-bottom: solid 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-weight: bold;
}
.li-selected {
  border-bottom: solid 4px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  text-shadow: 4px 2px 8px rgba(253, 67, 67, 0.3);
  font-weight: bold;
}
.li-selected:hover {
  border-bottom: solid 4px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  text-shadow: 4px 2px 8px rgba(253, 67, 67, 0.3);
  font-weight: bold;
}

.containers-of-li-items {
  list-style: none;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: contain;
  gap: 3rem;
}

.list-items-final-class {
  width: 10rem;
  margin: 0 0rem;
  padding: 1.5rem;
  box-shadow: 2px 3px 8px rgba(20, 20, 20, 0.3);
  border-radius: 8px;
}
.list-items-final-class img {
  object-fit: contain;
  width: 100%;
  height: 7rem;
}

.shop-div-double-items-flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
}
.shop-payment-methods-flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  margin: 2rem auto;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.shop-payment-methods-flex-container p {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0.2rem 0 0;
}
.shop-single-payment-methods-flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: fit-content;
  justify-content: center;
  margin: 0 1rem;
}

.shop-single-schedule-column-container {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
}
.shop-single-schedule-column-container p {
  background-color: aquamarine;
  margin: 0;
  padding: 0.5rem 0;
}

.shop-single-schedule-column-container ul {
  align-items: left;
  margin: 0 0;
  padding: 0;
  list-style: none;
}
.shop-single-schedule-column-container span {
  margin: 0;
  padding: 0;
  align-self: left;
  display: flex;
  min-width: 4rem;
  font-size: 0.7rem;

  padding: 0.2rem 0.6rem;
}

.div-card-text {
  color: #02992a;
  border-radius: 5px;
  box-shadow: 3px 4px 8px rgba(20, 20, 20, 0.3);
  margin: 1rem auto 1rem auto;
  min-height: 18rem;
  min-width: 20rem;
  width: 30rem;
  align-self: right;
}
.div-card-text h4 {
  display: inline-block;
}
.div-card-text p {
  word-spacing: 3px;
  line-height: 1.4rem;
  font-size: 0.9rem;
  text-align: left;
  margin-left: 0.4rem;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.6);
}
iframe {
  margin: 3rem auto;
  justify-self: center;
  width: 26rem;
  height: 20rem;
}
@media (max-width: 600px) {
  #shop-div-double-items-flex-container {
    flex-wrap: wrap;
  }
  .div-card-text {
    margin: 1rem 1rem 1rem auto;
    min-height: 16rem;
    min-width: 17rem;
    width: 25rem;
    align-self: right;
  }
}
